.msg-success {
    background-color: rgb(197, 248, 194);
    color: rgb(5, 95, 0);
    text-align: center;
    padding: 10px;
    font-size: 1em;
}

html {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

footer {
    background-color: rgb(226, 226, 226);
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
